version: "3.9"

services:
  frontend:
    image: react-vite-app
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
    working_dir: /app
    command: npm run dev -- --host

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: node server.js
