version: "3.8"

services:
  frontend:
    build: ./my-vite-app
    ports:
      - "5173:5173"
    volumes:
      - ./my-vite-app:/app
    command: npm run dev -- --host

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: node server.js
